# all ENV variable for dev declared here
# usage :
#       $ cp dev.env.sample dev.env
# then modify, save. use it
#       $ docker run --env-file="dev.env"

# port for service
PORT=8080

# database url
# [host] : database service host, ex: linked container aliases
# [port] : port database
# [dbname] : database name
# [parameter] : params, ex: sslmode=verify-full&user=docker&password=docker
DATABASE_URL=postgres://[host]:[port]/[dbname]?[parameter]